@use "../../styles/variables.sass" as variables

.principalContent
    display: flex
    justify-content: space-between
    padding: 1rem 6rem 0 6rem
    background: variables.$background-color-primary

.principalContentText
    display: flex
    flex-direction: column
    justify-content: space-around

.title
    width: 24rem
    margin-bottom: 1.5rem
    font-size: 3rem
    font-weight: 700
    color: variables.$color-primary

    strong
        color: variables.$color-terciary

.subtitleInfo
    font-size: 1rem
    font-weight: 400
    color: variables.$color-primary

.paragraph
    font-size: 1rem
    font-weight: 400
    color: variables.$color-terciary

.rickAndMorty
    width: 27rem
    height: 27rem

.containerItens
    background: variables.$background-color-secondary
    padding: 4rem 6rem

.containerCards
    display: grid
    grid-template-columns: repeat(4, 1fr)
    justify-items: space-between
    align-content: center
    gap: 1rem

.containerEpisodes
    display: flex
    justify-content: space-between
